<div id="cart" class="cart_modal">
    <div th:fragment="title" th:inline="text" style="display: none;">Cart - Broadleaf Demo - Heat Clinic</div>

    <table th:substituteby="cart/partials/cartProductsTable"></table>

    <div id="cart_total" class="group">
        <h3><span th:text="#{cart.currentSubtotal}">Your Current Subtotal</span></h3>
        <div id="subtotal" th:unless="${cart.subTotal?.zero}" blc:price="${cart.subTotal?.subtract(cart.orderAdjustmentsValue)}"></div>
        <div id="orderDiscounts" th:unless="${cart.orderAdjustmentsValue.zero}">
            <span th:text="#{cart.orderDiscount}">Order Discount</span>: <span blc:price="${cart.orderAdjustmentsValue}" />
        </div>
        <div id="checkout">
            <a th:href="@{/checkout}" target="_top" class="big-button red-button">
                <span th:text="#{cart.checkout}">Checkout</span>
            </a>
        </div>
        <p>
            <form blc:null_payment_hosted_action="${paymentRequestDTO}" complete_checkout="${false}" method="POST">
                <input type="hidden" name="TRANSACTION_AMT" th:value="${cart.total}"/>
                <input type="hidden" name="ORDER_ID" th:value="${cart.id}"/>
                <input type="hidden" name="COMPLETE_CHECKOUT_ON_CALLBACK" value="false"/>
            </form>
            <div class="clearfix"></div>
            <a th:href="@{/}" target="_top">&laquo; <span th:text="#{cart.continueShopping}">Continue Shopping</span></a>
        </p>
    </div>
    <p class="error" th:if="${param.errorMessage}" th:text="${param.errorMessage[0]}"></p>
    <p class="error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    <blc:form id="cart_promo" method="POST" th:action="@{/cart/promo}">
        <div id="cart_promo_error" style="display: none;"></div>
    </blc:form>

    <div id="blc-extra-data" class="hidden" th:utext="${blcextradata}" th:if="${!#strings.isEmpty(blcextradata)}"></div>

</div>